@media screen and (max-width: 600px) {
   .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.mobile-input {
      font-size: 14px;
   }
}

@media screen and (max-width: 500px) {
   .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.mobile-input {
      font-size: 12px;
   }
}
@media screen and (max-width: 400px) {
   .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.mobile-input {
      font-size: 11px;
   }
}
