/* //////////////////////TRACKING INFO////////////////// */
.tracking {
   -webkit-box-shadow: 0 2px 15px 4px rgba(92, 214, 107, 1);
   -moz-box-shadow: 0 2px 15px 4px rgba(92, 214, 107, 1);
   box-shadow: 0 2px 15px 4px rgba(92, 214, 107, 1);
   padding: 5px;
}
.root.tracking-history {
   font-size: 20px;
}
.tracking-inner {
   display: flex;
   flex-direction: column;
   margin: 0 80px 0 0;
}
@media screen and (max-width: 600px) {
   .tracking-inner {
      margin: 0;
   }
}
@media screen and (max-width: 600px) {
   .tracking-number {
      width: 50%;
   }
}

@media screen and (max-width: 600px) {
   .root.tracking-mobile {
      display: block;
   }
}
