.tracking-history {
   display: flex;
   flex-direction: column;
   padding: 46px 125px;
   border-radius: 10px;
   background-color: (var(--main-color));

   & h2 {
      text-align: left;
   }

   & table {
      border-collapse: collapse;
      background-color: var(--main-color); //white
   }

   &__table-div {
      overflow: auto;
      width: 100%;
   }
   & thead {
      background-color: var(--theme-color); //purple
      text-align: left;
      border-radius: 10px 10px 0 0;
      padding: 13px 26px;
   }
   & tbody {
      text-align: left;
   }
   & tbody:nth-child(even) {
      background-color: #f0eafc;
   }

   & tbody:hover {
      background-color: #c6c0d0;
   }
   & th {
      padding: 13px 26px;
      color: var(--main-color);
      width: 30%;
   }

   & th:first-child {
      border-radius: 10px 0 0 0;
      width: 10%;
   }

   & th:last-child {
      border-radius: 0 10px 0 0;
      width: 10%;
   }

   & td {
      padding: 9px 22px;
      color: #52616b;
      opacity: 85%;
      font-family: var(--main-font);
      font-size: 16px;
      line-height: 22px;
   }

   & td:last-child {
      text-align: right;
   }
}
