.root.custom-input {
   overflow: hidden;
   color: #3bbf5c;
   -webkit-box-shadow: 0 2px 15px 4px rgba(92, 214, 107, 1);
   -moz-box-shadow: 0 2px 15px 4px rgba(92, 214, 107, 1);
   box-shadow: 0 2px 15px 4px rgba(92, 214, 107, 1);
}
