@import './Fonts.css';
@import './Tracking/form-tracking-info.scss';
@import './Tracking/tracking-history.scss';
@import './Header/header.scss';

@import 'normalize.css';
@import './variables.css';

#root {
   max-width: 1920px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
   text-align: center;
}
.custom-body {
   background-color: rgb(238, 238, 238);
}
