@import './Adaptive/Forms.css';
@import './Adaptive/Header.css';

#root {
   max-width: 1280px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
   text-align: center;
}

/* MUI CONTAINER */

.root.custom-container {
   padding-top: 40px;
   padding-left: 50px;
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}
