@import './Forms/form-tracking.css';
@import './Header/header.css';
@import 'normalize.css';
#root {
   max-width: 1920px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
   text-align: center;
}
.custom-body {
   background-color: rgb(238, 238, 238);
}
